// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.bg {
	background-color: $primary-color;
}

.home_title {
	color: $navy;
}

.feel_good {
	color: $secondary-color;
}

.get-into-view {
	padding-top: 7rem;
}

.chart {
	max-width: 35rem;
}