// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.bg {
	background-color: $primary-color;
}

.home_title {
	color: $navy;
}

.feel_good {
	// -webkit-text-stroke: 2px #345995;
	font-weight: bold;
	font-family: cursive;
}

.get-into-view {
	padding-top: 7rem;
}

.get-into-view-main {
	padding-top: 1em;
}



.chart {
	max-width: 35rem;
}